body{
    font: 20px arial, sans-serif;
}

.navbar{
    background-color: white;
}

.container-apresentacao{
    background-color: #53ADBA;
}

.margin{
    padding-bottom: 50px;
    padding-top: 30px;
}

.proj-pedagogico{
    background-color: #2EB96F;
}

.noticias{
    background-color: #6E2684;
    color: white;
}

.parceiros{
    background-color: grey;
}

.linktitle{
    color: black
}
.bg-footer{
    background-color: black;
    color: gray
}